// .bgImg{
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

%bgImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}