.partners{
    background-color: $color-gray-6;
    padding: $pd-3 0;
    .partners_content{
        width: 70%;
        margin: 0 auto;
        .partners_text{
            text-align: center;
        }
        .partners_img{
            display: flex;
            justify-content: space-between;
        }
    }
    @include responsive("extra-large"){
        .partners_content{
            width: 80%;
        }

    }
    @include responsive("large"){
        .partners_content{
            width: 90%;
        }

    }
    @include responsive("small"){
        .partners_content{
           
        .partners_img{
            flex-wrap: wrap;
            .partners_items{
                width: 30%;
                text-align: center;
                margin-bottom: $mg-0 + 5;
            }
        }

    }
}
}